<h1>高级软件工程作业</h1>
<p><a href = "https://www.baidu.com">转到百度主页</a></p>


<span class="STYLE1" id=jnkc>           
	<script>setInterval("jnkc.innerHTML=new Date().toLocaleString()+' 星期'+'日一二三四五六'.charAt (new Date().getDay());",1000);
	</script> 
</span>

<h1>高级软件工程作业</h1>

<%= link_to '作业2', controller: 'articles' %>